// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product{
    table{
        border-collapse: collapse;
    }
    table tr td{
        padding: 5px;
        vertical-align:top;
    }
    .list_image{
        width: 60px; height: 70px;
    }
    
    .list_description{
        width: 60%;
        dl{
            margin: 0;
        }
        dt{
            color: #224;
            font-weight: bold;
            font-size: larger;
        }
        dd{
            margin: 0;
        }
    }
        .list_actions{
            font-size:x-small;
            text-align: right;
            padding-left: lem;
            
        }
        .list_line_even{
            background: #e0f8f8;
        }
        .list_line_odd{
            background: #f8b0f8;
        }
    
}
.p-table{
    text-align: center;
    margin-left: 250px;
}
.show-line{
    padding-left: 20px;
}
.entry{
        //overflow: auto;
        margin-top: 1em;
        border-bottom: 1px dotted #77d;
        min-height: 100px;
        float: left;
        padding: 30px;
        margin-left: 70px;
    
    img{
        width: 80px;
        margin-right: 5px;
        margin-bottom: 5px;
        position: absolute;
    }
    h3{
        font-size: 120%; 
        font-family: sans-serif; 
        margin-left: 100px; 
        margin-top: 0; 
        margin-bottom: 2px; 
        color: #227;
    }
    p, div.price_line{
        margin-left: 100px; 
        margin-top: 0.5em; 
        margin-bottom: 0.8em;
    }
    .price{
        color: #44a; 
        font-weight: bold; 
        margin-right: 3em;
        
    }
    .text{
        position: relative;
        left: 100px;
    }
}
.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
  width: 100%;
}